.ocean {
  fill: #759dd1;
}

.river {
  fill: none;
  stroke: #759dd1;
  stroke-width: 1;
}

.boundary {
  stroke: #7b5228;
  stroke-width: 1;
  fill: none;
}

.urban {
  fill: #e1c0a3;
}

.airport {
  fill: #9e56c7;
  opacity: 0.6;
  stroke: #69349d;
}