.bar {
  fill: steelblue;
}

.bar.highlighted {
  fill: brown;
}

.bar-text {
  text-anchor: end;
  fill: black;
  font-size: 1.5em;
  display: none;
}

.bar-text.visible {
  display: block;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  /*display: none;*/
}

.y.axis text {
  text-anchor: start;
}

.bar-positive {
  fill: steelblue;
}

.bar-negative {
  fill: darkorange;
}